
.dark h1{
    font-weight: 900;
    background-image: url('https://images.hdqwalls.com/wallpapers/sea-beach-sunset-4k-e0.jpg');
    background-clip: text;
    background-repeat: repeat;
    background-size: 50% ;
   background-position: 40% 50%;
   text-align: center;
    color: transparent;
    margin: 0;

}

.light h2{
   font-weight: 900;
    background-image: url('https://images.hdqwalls.com/wallpapers/sea-beach-sunset-4k-e0.jpg');
    background-clip: text;
    background-repeat: repeat;
    background-size: 50% ;
   background-position: 40% 50%;
   text-align: center;
    color: transparent;
    margin: 0;
}
